{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>{{ user.email }} {{ dump(user) }}</h1>

    {% endif %}

{% endblock %}